---
import BlogPage from "../../layouts/BlogPage.astro";
import Friend from "../../components/friend/Friend.astro";
import FriendList from "../../components/friend/FriendList.astro";
import FriendCategoryTitle from "../../components/friend/FriendCategoryTitle.astro";
import MarkdownBody from "../../components/MarkdownBody.astro";
import * as markdownData from "./_links.md";
import Comment from "../../components/Comment.astro";
---

<BlogPage title="友链" description="LineXic的小伙伴们">
  <div 
  class="border-l-4 border-indigo-500 
        dark:border-indigo-400 
        bg-indigo-50 
        dark:bg-indigo-900 
        p-4 mb-6 rounded-lg light:bg-indigo-50 
        dark:light:bg-indigo-900">
        <p>
        我聚合了友链的订阅器🔗
       <a href="/page/fcircle/" class="" >
      友圈</a>
       用于阅读和管理友链，平常我也会访问网站贡献阅读量和访问量
    </p>
</div>
    <FriendCategoryTitle>交谈甚欢</FriendCategoryTitle>
    <FriendList>
        <Friend url="https://blog.zeink.cc/" name="泽客来宾" description="投身科技，用代码丰富生活，用数据填满热心 " avatarUrl="https://cdn.linexic.top/gh/MornZe/Blog-Static-Resource@main/images/353fa653cdde9ba2.png"/>
        <Friend url="https://blog.mugzx.top/" name="Mugzx's Blog" description="向上革命，向下实践。" avatarUrl="https://www.mugzx.top/api/avatar.png" />
        <Friend url="https://blog.liushen.fun/" name="清羽飞扬" description="柳影曳曳，清酒孤灯，扬笔撒墨，心境如霜" avatarUrl="https://blog.liushen.fun/info/avatar.ico" />
        <Friend url="https://www.kzhik.cn" name="kzhik\'s website" description="在这里，我分享我的所见所闻、学习笔记和生活感悟，一起发现更多可能性" avatarUrl="https://www.kzhik.cn/cover.webp" />
      </FriendList>
    <FriendCategoryTitle>友链电台 - 哔啵哔啵</FriendCategoryTitle>
    <FriendList>
        <Friend url="https://blog.kevinchu.top" name="KEVIN\'S BLOG" description=" Kevin的博客" avatarUrl="https://static.kevinchu.top/blog/assets/img/avatar_03.jpg"/>
        <Friend url="https://blog.lichenghao.cn/" name="故事的程序猿" description="好好学习，天天向上" avatarUrl="https://blog.lichenghao.cn/avatar.svg" />
        <Friend url="https://blog.iamsjy.com/" name="Tony\'s Blog" description="探索智慧，共享知识；开启心灵，传递真理。" avatarUrl="https://blog.iamsjy.com/assets/favicon.jpg" />
        <Friend url="https://kuizuo.me/" name="愧作" description="道阻且长，行则将至" avatarUrl="https://kuizuo.cn/img/logo.png" />
        <Friend url="https://oragekk.me/" name="上冬十二" description="到最后，竟庆幸于夕阳仍留在身上" avatarUrl="https://oragekk.me/logo.svg" />
        <Friend url="https://www.peterjxl.com" name="PeterJXL" description="从 01 开始" avatarUrl="https://linexic.top/re0.webp" />
        <Friend url="https://lawtee.com/ " name="法律小茶馆" description="法学法律工作者" avatarUrl="https://lawtee.com/links/avatar.jpg" />
        <Friend url="https://tao.zz.ac/" name="涛叔" description="涛叔的博客" avatarUrl="https://tao.zz.ac/favicon.ico" />
        <Friend url="https://blog.rainiar.top/" name="寒夏摸鱼站" description="稀奇古怪技术集散地" avatarUrl="https://gravatar.webp.se/avatar/1beae7b1b3ca799888552bfcf9930a4e" />
        <Friend url="https://pinpe.top/" name="Pinpe云端" description="一个属于自己的云朵。" avatarUrl=https://pinpe.top/head.jpg />
        <Friend url="https://thirdshire.com/" name="第三夏尔" description="认真生活，积极摸鱼" avatarUrl="https://thirdshire.com/img/blackcat_hu_332175c44ebde9be.jpg" />
        <Friend url="https://blog.zhilu.site/" name="纸鹿摸鱼处" description="纸鹿至麓不知路，支炉制露不止漉" avatarUrl="https://wsrv.nl/?url=github.com%2FL33Z22L11.png" />
        <Friend url="https://liuyuyang.net/" name="宇阳" description="记录所学知识，缩短和大神的差距！" avatarUrl="https://q1.qlogo.cn/g?b=qq&nk=3311118881&s=640" />
        <Friend url="https://blog.hzchu.top/" name="Thun888" description="夏日当空，心如深渊" avatarUrl="https://blog.hzchu.top/img/avatar.webp" />
        <Friend url="https://blog.tsoo.net/" name="bbb-lsy07" description="科技激荡人文，洞见智慧本真。" avatarUrl="https://images.6uu.us/20250511114301488.JPG" />
        <Friend url="https://www.xmdblog.com/" name="小明的部落格" description="探索科技，启迪技能" avatarUrl="https://imgbed.xmdblog.com/file/OfXwydFU.jpg" />
        <Friend url="https://blog.ciraos.top/" name="葱苓语畔" description="Don't worry, be happy." avatarUrl="https://blog.ciraos.top/api/f/RgeK/avatar1.avif" />
        <Friend url="https://www.tcdw.net/" name="吐槽大王部落格" description="正在学习接受不完美的世界" avatarUrl="https://avatars.githubusercontent.com/u/8687182?v=4&s=200" />
        <Friend url="https://www.allenyou.wang/" name="秋实-Allenyou 的小窝" description="稻花香里说丰年，听取 WA 声一片" avatarUrl="https://blog-oss.allenyou.top/avatar/59b2fbdd507a84fe181b0af3e4ad7be3" />
        <Friend url="https://bianliangrensheng.cn" name="变量人生" description="无论前路如何，探索与学习是我不断进化的动力" avatarUrl="https://bianliangrensheng.cn/img/logo.png" />
        <Friend url="https://www.vvhan.com/" name="韩小韩博客" description="运气是计划之外的东西." avatarUrl="https://q1.qlogo.cn/g?b=qq&nk=1655466387&s=640" />
        <Friend url="https://blog.zhheo.com/" name="张洪Heo" description="分享设计与科技生活" avatarUrl="https://img.zhheo.com/i/67d8fa75943e4.webp" />
        <Friend url="https://note.weizwz.com" name="唯知笔记" description="探索知识的无限可能" avatarUrl="https://p.weizwz.com/logo_a4353391cbf0889b.webp" />
        <Friend url="https://www.blueke.top/" name="Lanke\'s blog" description="请为一切不真实之物骄傲，因为我们高于这个世界！" avatarUrl="https://gcore.jsdelivr.net/gh/Keduoli03/My_img@img/img/头像.jpg" />
        <Friend url="https://tnxg.top/" name="天翔TNXGの空间站" description="明日尚未到来，希望凝于心上" avatarUrl="https://api-space.tnxg.top/avatar?s=qq" />
        <Friend url="https://www.biibii.cn/" name="BIIBII" description="记录生活中的技术脉搏。" avatarUrl="https://bu.dusays.com/2024/12/13/675bbe7fbc833.png" />
        <Friend url="https://blog.lusyoe.com/" name="青萍叙事" description="一个懂技术的产品汪🐶" avatarUrl="https://blog.lusyoe.com/avatar.svg" />
        <Friend url="https://wcowin.work/" name="Wcowin\'s Blog" description="循此苦旅，以达星辰" avatarUrl="https://pica.zhimg.com/80/v2-74ecd899c7c4cc0258930eaff239a21b_1440w.webp" />
        <Friend url="https://www.iczrx.cn" name="晚夜的个人博客" description="做好量变的准备，促进事物的质变。" avatarUrl="https://q2.qlogo.cn/headimg_dl?dst_uin=1463656527&spec=640" />
        <Friend url="https://zhuxu.asia/" name="朱某的生活印记" description="没有销声匿迹，我在热爱生活" avatarUrl="https://q.qlogo.cn/g?b=qq&nk=2776686748&s=640" />
        <Friend url="https://axi404.top" name="Axi\'s Blog" description="一只可爱小猫" avatarUrl="https://axi404.top/avatar/avatar.png" />
        <Friend url="https://www.lihaoyu.cn/" name="晓雨杂记" description="也许我们会分别，但我们将永远不会忘记彼此" avatarUrl="https://blog-api.lihaoyu.cn/images/profile/avatar-128x.webp" />
        <Friend url="https://blog.gxres.net/" name="Restent Ou" description="静寂に問う 答えを求めて" avatarUrl="https://library.gxres.net/images/avatars/gxres042.webp" />
        <Friend url="https://xaoxuu.com" name="xaoxuu" description="For all time, always." avatarUrl="https://cn.cravatar.com/avatar/15e59a60168a6ce1bfc3eddfca8c5a54?s=512" />
        <Friend url="https://miraii.cn/" name="MuXiaoChen🍊" description="柴米油盐酱醋茶，般般都在别人家" avatarUrl="https://tuchuang.voooe.cn/images/2025/11/28/Mx_1761296939311296300.webp" />
        <Friend url="https://www.dao.js.cn/" name="懋和道人" description="李懋和，俗名李栋梁。书法、国画爱好者，互联网安全与前端建设者。" avatarUrl="https://cn.cravatar.com/avatar/37d41e2b550633a30f5d41de61c1aa92?s=400&r=G&d=mp&ver=1754413756" />
        <Friend url="https://blog.feng1026.top/" name="枫落丰源" description="和你的日常，就是奇迹" avatarUrl="https://blog.feng1026.top/avatar.jpg" />
        <Friend url="https://www.laneljc.cn/" name="Lane\'s Blog" description="探索未知，解码未来" avatarUrl="https://www.laneljc.cn/assets/favicon.png" />
        <Friend url="https://www.mengxiblog.top/" name="Hikaru Lab" description="即使是人造的记忆，也有它存在的价值" avatarUrl="https://img-cn.static.isla.fan/2025/10/19/68f4824b7c228.png" />
        <Friend url="https://www.oao.cc/" name="流川Lucian" description="Better late than never" avatarUrl="https://weavatar.com/avatar/7c89b581198afee639a3664634bdf5935b9e08edd860741a73add12fb5fe20c2" />
        <Friend url="https://www.tenca.cn/" name="Dark零点博客" description="记录小众热爱与生活碎片" avatarUrl="https://www.tenca.cn/images/avatar.webp" />
        <Friend url="https://blog.ooliver.cn" name="ooliver 的博客" description="The Show Must Go On!" avatarUrl="https://blog.ooliver.cn/wp-content/uploads/2025/08/1755862991-头像.jpg" />
      </FriendList>
        <FriendCategoryTitle>订阅 - 与君分享</FriendCategoryTitle> 
      <FriendList>
        <Friend url="https://hongtaoh.com/" name="郝鸿涛" description="河北老乡" avatarUrl="https://hongtaoh.com/media/ht10.png" />
        <Friend url="https://whbbit.cn/" name="月空人" description="偶尔写些博客，发发牢骚" avatarUrl="https://bitmc.uno/picgo/126662463_p2.jpg" />
        <Friend url="https://atpx.com/" name="atpX" description="atpX" avatarUrl="https://atpx.com/favicon-32x32.png" />
        <Friend url="https://coderfee.com/" name="Coderfee\'s Blog" description="一个关于编程、AI 应用、读书笔记和个人随笔的博客" avatarUrl="https://coderfee.com/favicon-dark.svg" />
        <Friend url="https://www.langhai.net" name="浪海导航" description="浪海导航 ~ 收录各种类型的博客以及论坛网站" avatarUrl="https://www.langhai.net/assets/images/langhai-logo.png" />
    </FriendList>
        <FriendCategoryTitle>探索 - 驶入下一个站点</FriendCategoryTitle>
      <FriendList>
        <Friend url="https://www.travellings.cn/go.html" name="开往 - 友链接力" description="让传统友链“活跃”，让网页相互接力，让流量相互流动，让网络开放起来" avatarUrl="https://www.travellings.cn/assets/travelling.png" />
        <Friend url="https://foreverblog.cn/go.html?url=https://linexic.top" name="十年之约" description="一个人的寂寞，一群人的狂欢" avatarUrl="https://foreverblog.cn/favicon.ico" />
        <Friend url="https://www.boyouquan.com/planet-shuttle" name="博友圈" description="博友人的圈子" avatarUrl="https://www.boyouquan.com/assets/favicon.ico" />
      </FriendList>
    <MarkdownBody class="mt-6">
        <markdownData.Content />
          <Comment />
 <script>
		import twikoo from "twikoo";
		twikoo({
		  envId: "https://talk.linexic.top/.netlify/functions/twikoo", // your environment ID or url
		  el: "#tcomment", // the container ID which will show the comment
		  lang: "zh-CN", // language for the comment template. for the full list, refer to https://github.com/imaegoo/twikoo/blob/main/src/client/utils/i18n/index.js
		}).then(() => {
		  console.log("comment loading success");
		});
	</script>
    </MarkdownBody>

<!--
    <script src="https://giscus.app/client.js"
        data-repo="LineXic/LineXic-blog"
        data-repo-id="R_kgDOOQmiLw"
        data-category="Ideas"
        data-category-id="DIC_kwDOOQmiL84CokoA"
        data-mapping="title"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="1"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="zh-CN"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
-->
</BlogPage>
